* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%; 
}

body {
  font-family: 'Manrope', sans-serif;
}
.topbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.topbar p{
  font-size: 1.5rem;
}
.topbar-icons span{
  font-size: 2.5rem;
  margin: 10px;
}
.navbar{
  font-size: 1.5rem;
  justify-content: space-between;
}
.offcanvas-body{font-size: 1.5rem;}
.bg-golden{background-color:#DECFB3;}
.golden{color: #DECFB3;}
.golden-border{border: 1px solid #DECFB3;}

.hero-image-section {
width: 100%;
height: 100vh;
background-image: url('./svgs/heroimage.svg');
background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
background-color: #464646;
display: flex;
align-items: center;

}
.hero-heading-section{
  display: flex;
  flex-direction: column;
}
.hero-heading-section h2{
  padding-bottom: 3rem;
  font-size: 2.5rem;
}
.hero-heading-section p{
  color: white;
  font-size: 2rem;
  padding-top: 1.2rem;
}
.hero-image-section .book-now-dropdown ul{
  background-color: white;
  font-size: 1.5rem;
  list-style: none;
  z-index: 999;
}
.about-section{
  padding-top: 6rem;
  font-size: 1.5rem;
  color: #747474;
  text-align: justify;
  line-height: 3rem;
  background-color: whitesmoke;
}
.about-section h2{
  font-size: 2.5rem;
  color: black;
}

.services-section{
  padding-top: 7rem;
  font-size: 1.5rem;
  color: #747474;
  text-align: justify;
  line-height: 3rem;
  background-color: white;
}

.services-section h2{
  font-size: 2.5rem;
  color: black;
}

.services-section .image-container{
  margin-top: 5rem;
}
.image-container p{
  color: black;
  font-size: 1.5rem;
  padding-top: 1rem;
}
.treatment-card-section h2{
  color: #DECFB3;
  text-transform: uppercase;
  font-size: 1.5em;
  margin-bottom: 2.5rem;
}
.treatment-card-section .border-box{
  border: 1px solid #DECFB3;
  height: 200px;
}
.treatment-card-section .border-box h4{
  color: #DECFB3;
  text-align: center;
  margin-top: 2rem;
}
.treatment-card-section .border-box{
  font-size: 3rem;
  text-align: center;
}
.treatment-card-section .sub-heading{
  color: white;
  text-align: center;
  font-size: 1.5rem !important;
}
.testinomial-section{
  padding-top: 7rem;
  font-size: 1.5rem;
  color: #747474;
  text-align: justify;
  line-height: 3rem;
  background-color: white;
}

.testinomial-section h2{
  font-size: 2.5rem;
  color: black;
}
.footer ul{
  /* list-style: none; */
  font-size: 1.6rem;
}
.copyrigh-section{
  font-size: 1.5rem;
  padding: 1rem;
}





/* Media Queries Start For Responsiveness */

@media screen and (max-width:760px) {
  .topbar-section{
    display: none;
  }
}